/* style.css */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #555 #222;
    overflow-y: auto;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }